<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--네임 스페이스 선언. 이를 통해 현 html 페이지에서 타임리프 전용 속성 사용 가능.-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${data}">empty</p>
<!--th:text : 타임리프 속성. 서버에서 제공된 데이터를 현재 <p> 태그에 바인딩.
여기서는 Spring MVC의 모델에 담겨서 전달된 ${data}를 p 태그 안(empty)을 대체한다.
만약 **data**가 비어있거나 null인 경우, 타임리프는 기본적으로 제공된 HTML 요소 안의 텍스트를 대체하지 않고 그대로 출력.
즉, empty가 출력됨.
<p th:text="${data ?: 'default value'}">empty</p>
기본값으로 default value를 설정함. 이렇게 하면 data가 null인 경우, empty가 아니라 기본값이 출력된다.
-->
</body>
</html>